# Machine  Learning coursework3

change the name of your notebook file to your name and reg number. As usual, send the files to the class coordinator, she will zip them and send me a single compressed folder. work submitted past the deadline won't be accepted.  deadline 08:59, 19/03/2023.  Submit only a single notebook file.

# q1. Probability Question (10 mks)

In this part, you are given 1 probability question that you will solve by hand ( You do not code anything ). You can either share your answer via Markdown Cells, or you can insert an image of your hand-written solution on a paper. To insert an image, after changing the cell type to Markdown, click Edit -> Insert Image, it will be directly embedded in the notebook file. Try to keep your answers as illustrative as possible.

Soroti is a busy city, and unfortunately busy cities tend to have serious traffics. In Soroti, one in every two days, there is a traffic jam on the main roads, if the weather is sunny. However if it rains, it gets worse! Three in every four rainy days, main roads are jammed with traffic! 

Our dear lecturer for machine learning, Dr. Abubakhari Sserwadda is simple but such a hardworking one, however sometimes life happens, and he might arrive late to the class. If the weather is rainy and there is a traffic jam, the probability of him being late is 20%. Otherwise, he is late to only 5% of the classes.

Given a randomly selected day, What is the probability that the weather is rainy, there is no traffic jam and Dr. Abubakhari is NOT late to the class?

Double click on here to put your answer!

# q2.  You will use the 'coursework3data' dataset given for this coursework. The last column of the file represents the label (class 0 or class 1)  (90mks)

Examine the dataset. The number of samples, features and the classes. Classify given dataset using the following algorithms. one at time. 
(i)  Decision trees 
(ii) Random forest 
(iii)linear SVM
(iv) SVM with RBF kernel
(v) Artificial Nueral Network
Feel free to import and use any libaries you wish. Use default parameters for each algorithm. Use 10 cross validation in all experiments.  Report the test accuracy, precision and F1 score for each algorithm. Plot the classification results for each algorithm. Make sure the figures are well displayed in your notebook file. Comment on the performance of algorithms, which algorithm would you recommend for this task and why?.


NB. have comments below codes you implemented.

In [23]:
import pandas as pd
import numpy as np
from scipy.io import loadmat

df = loadmat('coursework3data.mat')
data = pd.DataFrame(df['z'])
data.head()

          0         1    2
0  0.041590  0.954043  1.0
1  0.016280  0.980670  0.0
2  0.014573  0.979992  0.0
3  0.011751  0.992604  0.0
4  0.012188  0.987944  0.0

In [7]:
type(df)

dict

In [6]:
df.keys()

dict_keys(['__header__', '__version__', '__globals__', 'z'])

In [2]:
df['__header__']

b'MATLAB 5.0 MAT-file, Platform: PCWIN64, Created on: Wed Apr 12 12:52:31 2017'

In [5]:
df['__version__']

'1.0'

In [6]:
df['__globals__']

[]

In [8]:
df['z']

array([[0.04159004, 0.95404292, 1.        ],
       [0.01627973, 0.98066955, 0.        ],
       [0.01457259, 0.97999209, 0.        ],
       [0.01175113, 0.9926036 , 0.        ],
       [0.01218823, 0.9879444 , 0.        ],
       [0.01084433, 0.98710225, 0.        ],
       [0.01108428, 0.98398328, 0.        ],
       [0.01115969, 0.98674495, 0.        ],
       [0.0109468 , 0.98566915, 0.        ],
       [0.00983772, 0.98767204, 0.        ],
       [0.00981964, 0.98801154, 0.        ],
       [0.00980062, 0.9875406 , 0.        ],
       [0.0095526 , 0.98795498, 0.        ],
       [0.00850271, 0.99323329, 0.        ],
       [0.00892547, 0.99042686, 0.        ],
       [0.0086474 , 0.99245684, 0.        ],
       [0.00988423, 0.98625803, 0.        ],
       [0.00907878, 0.99090602, 0.        ],
       [0.00915666, 0.99047816, 0.        ],
       [0.00907743, 0.98976451, 0.        ],
       [0.00953908, 0.98955798, 0.        ],
       [0.00913692, 0.99101658, 0.        ],
       [0.00944979, 0.98742844, 0.        ],
       [0.00956227, 0.98848886, 0.        ],
       [0.00912135, 0.99144902, 0.        ],
       [0.00928157, 0.99286964, 0.        ],
       [0.00935285, 0.9877468 , 0.        ],
       [0.00882202, 0.99115847, 0.        ],
       [0.00980792, 0.98819742, 0.        ],
       [0.00903933, 0.99139141, 0.        ],
       [0.00987892, 0.98781948, 0.        ],
       [0.01021751, 0.9899481 , 0.        ],
       [0.00947238, 0.99024979, 0.        ],
       [0.00972908, 0.98874973, 0.        ],
       [0.00937312, 0.99074582, 0.        ],
       [0.00988726, 0.98923653, 0.        ],
       [0.00996432, 0.99087579, 0.        ],
       [0.00991908, 0.9918272 , 0.        ],
       [0.01042479, 0.99045365, 0.        ],
       [0.01074611, 0.98822231, 0.        ],
       [0.01076455, 0.98840055, 0.        ],
       [0.01074572, 0.98840395, 0.        ],
       [0.010978  , 0.98491218, 0.        ],
       [0.01090048, 0.98717092, 0.        ],
       [0.01061708, 0.98760045, 0.        ],
       [0.01062752, 0.98584307, 0.        ],
       [0.01115578, 0.99068928, 0.        ],
       [0.01173996, 0.98531651, 0.        ],
       [0.01112132, 0.99032345, 0.        ],
       [0.01211006, 0.98883464, 0.        ],
       [0.01093557, 0.98999743, 0.        ],
       [0.01227093, 0.98485547, 0.        ],
       [0.01186942, 0.98674194, 0.        ],
       [0.01179061, 0.98738984, 0.        ],
       [0.01236835, 0.98534151, 0.        ],
       [0.01267712, 0.98478858, 0.        ],
       [0.01276736, 0.98651581, 0.        ],
       [0.01289274, 0.98691118, 0.        ],
       [0.01251262, 0.98453202, 0.        ],
       [0.01244736, 0.98883753, 0.        ],
       [0.01371394, 0.98315328, 0.        ],
       [0.01402836, 0.98413611, 0.        ],
       [0.01302673, 0.98533084, 0.        ],
       [0.01309185, 0.986871  , 0.        ],
       [0.01321496, 0.98268307, 0.        ],
       [0.01322664, 0.98139894, 0.        ],
       [0.01392218, 0.98177903, 0.        ],
       [0.01372602, 0.98634946, 0.        ],
       [0.01399639, 0.98102891, 0.        ],
       [0.01450833, 0.98174516, 0.        ],
       [0.01377845, 0.98353671, 0.        ],
       [0.01474869, 0.98436989, 0.        ],
       [0.01426476, 0.98120322, 0.        ],
       [0.01458333, 0.9861183 , 0.        ],
       [0.01527138, 0.98072634, 0.        ],
       [0.01624665, 0.98311774, 0.        ],
       [0.01541384, 0.98455499, 0.        ],
       [0.01462208, 0.98538434, 0.        ],
       [0.01564707, 0.98269015, 0.        ],
       [0.0162603 , 0.97673177, 0.        ],
       [0.0159095 , 0.98052301, 0.        ],
       [0.01552604, 0.98399907, 0.        ],
       [0.01563375, 0.98343238, 0.        ],
       [0.01617113, 0.98162262, 0.        ],
       [0.01696354, 0.97632001, 0.        ],
       [0.0166036 , 0.98127562, 0.        ],
       [0.0164343 , 0.98428156, 0.        ],
       [0.01738961, 0.97886209, 0.        ],
       [0.01794498, 0.98244124, 0.        ],
       [0.01706172, 0.97876585, 0.        ],
       [0.02132896, 0.97972032, 0.        ],
       [0.03943631, 0.97193827, 1.        ],
       [0.0667255 , 0.93683689, 1.        ],
       [0.07351046, 0.94723366, 1.        ],
       [0.07596896, 0.96150243, 1.        ],
       [0.06113603, 0.95892873, 1.        ],
       [0.0839353 , 0.92749922, 1.        ],
       [0.04995658, 0.95993353, 1.        ],
       [0.08194488, 0.94020413, 1.        ],
       [0.0497582 , 0.96402626, 1.        ],
       [0.06999417, 0.92735808, 1.        ],
       [0.07365658, 0.95344081, 1.        ],
       [0.06036817, 0.95108148, 1.        ],
       [0.07586585, 0.95910818, 1.        ],
       [0.05562567, 0.9615549 , 1.        ],
       [0.06772037, 0.93035914, 1.        ],
       [0.07259202, 0.96395903, 1.        ],
       [0.06196255, 0.96882528, 1.        ],
       [0.07096408, 0.95709673, 1.        ],
       [0.06573858, 0.9476388 , 1.        ],
       [0.06649071, 0.94672902, 1.        ],
       [0.06135202, 0.9711465 , 1.        ],
       [0.06922591, 0.96416539, 1.        ],
       [0.06328316, 0.9562265 , 1.        ],
       [0.06785237, 0.95058889, 1.        ],
       [0.06079219, 0.94668299, 1.        ],
       [0.07106144, 0.94638327, 1.        ],
       [0.05925909, 0.94885488, 1.        ],
       [0.07171261, 0.96426639, 1.        ],
       [0.05418835, 0.95782222, 1.        ],
       [0.06900487, 0.95350652, 1.        ],
       [0.06128343, 0.96382532, 1.        ],
       [0.06241565, 0.95501083, 1.        ],
       [0.05996834, 0.94375212, 1.        ],
       [0.06818476, 0.95724512, 1.        ],
       [0.05722944, 0.96697284, 1.        ],
       [0.07073889, 0.93993225, 1.        ],
       [0.0517852 , 0.95856781, 1.        ],
       [0.0660643 , 0.9587467 , 1.        ],
       [0.05675458, 0.9661402 , 1.        ],
       [0.06792132, 0.96365781, 1.        ],
       [0.05650031, 0.96362967, 1.        ],
       [0.06139683, 0.94172121, 1.        ],
       [0.06301456, 0.95479755, 1.        ],
       [0.06104605, 0.9655089 , 1.        ],
       [0.05929468, 0.96769053, 1.        ],
       [0.06261177, 0.95286609, 1.        ],
       [0.05970439, 0.96845698, 1.        ],
       [0.06066533, 0.96465199, 1.        ],
       [0.06220549, 0.95098023, 1.        ],
       [0.05752121, 0.96369262, 1.        ],
       [0.06055211, 0.97153073, 1.        ],
       [0.05871929, 0.92766324, 1.        ],
       [0.05745088, 0.9188107 , 1.        ],
       [0.05524394, 0.95620815, 1.        ],
       [0.06759685, 0.96006997, 1.        ],
       [0.05477174, 0.96461066, 1.        ],
       [0.05815513, 0.96316895, 1.        ],
       [0.05270182, 0.95764965, 1.        ],
       [0.06505898, 0.94124182, 1.        ],
       [0.05780611, 0.94432432, 1.        ],
       [0.05735572, 0.96325349, 1.        ],
       [0.05422021, 0.94062679, 1.        ],
       [0.06052167, 0.96687174, 1.        ],
       [0.05754473, 0.96567797, 1.        ],
       [0.0604742 , 0.94989207, 1.        ],
       [0.05277547, 0.96572227, 1.        ],
       [0.06125445, 0.96469362, 1.        ],
       [0.05360646, 0.96631605, 1.        ],
       [0.0612033 , 0.94348881, 1.        ],
       [0.0553735 , 0.95103407, 1.        ],
       [0.05109146, 0.93580589, 1.        ],
       [0.05965621, 0.96050178, 1.        ],
       [0.04927775, 0.93366905, 1.        ],
       [0.06491937, 0.94805503, 1.        ],
       [0.04822144, 0.95214493, 1.        ],
       [0.05685615, 0.95055375, 1.        ],
       [0.05499354, 0.95972212, 1.        ],
       [0.05534794, 0.95913393, 1.        ],
       [0.05669867, 0.93639412, 1.        ],
       [0.04880515, 0.97457709, 1.        ],
       [0.06435357, 0.93930644, 1.        ],
       [0.04177238, 0.9509901 , 1.        ],
       [0.05834755, 0.95102312, 1.        ],
       [0.04901085, 0.94798581, 1.        ],
       [0.06022462, 0.93488494, 1.        ],
       [0.04914816, 0.95307833, 1.        ],
       [0.05285511, 0.95360396, 1.        ],
       [0.05540151, 0.95641146, 1.        ],
       [0.05273419, 0.94863245, 1.        ]])

In [10]:
df['z'].shape

(180, 3)

In [9]:
dataset = df['z']

In [10]:
dataset = pd.DataFrame(dataset)

In [11]:
dataset

            0         1    2
0    0.041590  0.954043  1.0
1    0.016280  0.980670  0.0
2    0.014573  0.979992  0.0
3    0.011751  0.992604  0.0
4    0.012188  0.987944  0.0
..        ...       ...  ...
175  0.060225  0.934885  1.0
176  0.049148  0.953078  1.0
177  0.052855  0.953604  1.0
178  0.055402  0.956411  1.0
179  0.052734  0.948632  1.0

[180 rows x 3 columns]

In [12]:
dataset.describe()

                0           1           2
count  180.000000  180.000000  180.000000
mean     0.036291    0.970058    0.500000
std      0.024888    0.018444    0.501395
min      0.008503    0.918811    0.000000
25%      0.011748    0.955909    0.000000
50%      0.030383    0.975449    0.500000
75%      0.060261    0.986776    1.000000
max      0.083935    0.993233    1.000000

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [30]:
data.rename(columns={0:'Feature1'})

     Feature1         1    2
0    0.041590  0.954043  1.0
1    0.016280  0.980670  0.0
2    0.014573  0.979992  0.0
3    0.011751  0.992604  0.0
4    0.012188  0.987944  0.0
..        ...       ...  ...
175  0.060225  0.934885  1.0
176  0.049148  0.953078  1.0
177  0.052855  0.953604  1.0
178  0.055402  0.956411  1.0
179  0.052734  0.948632  1.0

[180 rows x 3 columns]

In [35]:
data = data.rename(columns={0:'Feature1',1:'Feature2',2:'Targets'})
data.tail(15)

     Feature1  Feature2  Targets
165  0.048221  0.952145      1.0
166  0.056856  0.950554      1.0
167  0.054994  0.959722      1.0
168  0.055348  0.959134      1.0
169  0.056699  0.936394      1.0
170  0.048805  0.974577      1.0
171  0.064354  0.939306      1.0
172  0.041772  0.950990      1.0
173  0.058348  0.951023      1.0
174  0.049011  0.947986      1.0
175  0.060225  0.934885      1.0
176  0.049148  0.953078      1.0
177  0.052855  0.953604      1.0
178  0.055402  0.956411      1.0
179  0.052734  0.948632      1.0

In [36]:
X=data.iloc[:,:-1]
Y=data.iloc[:,-1]

In [37]:
X.head()

   Feature1  Feature2
0  0.041590  0.954043
1  0.016280  0.980670
2  0.014573  0.979992
3  0.011751  0.992604
4  0.012188  0.987944

In [38]:
Y.head()

0    1.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: Targets, dtype: float64

In [55]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Perceptron
from sklearn import metrics

xtrain,xtest,ytrain,ytest=train_test_split(X,Y,test_size=0.3,random_state=42)

perceive = Perceptron(random_state=457)
perceive.fit(xtrain,ytrain)

predictions = perceive.predict(xtest)
score = np.round(metrics.accuracy_score(ytest,predictions),3)

print(f'Mean accuracy of predictions: {score}')

Mean accuracy of predictions: 0.981

In [54]:
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPClassifier
from sklearn import metrics

xtrain,xtest,ytrain,ytest=train_test_split(X,Y,test_size=0.2,random_state=762)

classifier = MLPClassifier(hidden_layer_sizes=2,activation='relu',random_state=42,solver='sgd',max_iter=35,verbose=10,learning_rate='invscaling')
classifier.fit(xtrain,ytrain)

predictions = classifier.predict(xtest)
score = np.round(metrics.accuracy_score(ytest,predictions),2)

print(f'Mean accuracy of predictions: {score}')

Iteration 1, loss = 0.70333827
Iteration 2, loss = 0.70332869
Iteration 3, loss = 0.70332382
Iteration 4, loss = 0.70331924
Iteration 5, loss = 0.70331493
Iteration 6, loss = 0.70331087
Iteration 7, loss = 0.70330705
Iteration 8, loss = 0.70330346
Iteration 9, loss = 0.70330008
Iteration 10, loss = 0.70329690
Iteration 11, loss = 0.70329391
Iteration 12, loss = 0.70329109
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Mean accuracy of predictions: 0.5